.home-header
  %h1#home
    DataMade

%p.lead
  We are an open data web development and consulting company in Chicago.

%hr
%h2#projects Tell a story with your data

.projects-list
  .row-fluid  
    .span4
      %a{:href => "http://www.chicagohealthatlas.org/"}
        %img.img-polaroid{:src => "/images/projects/chicago-health-atlas-2.jpg", :title => "Chicago Health Atlas"}
      %h4
        %a{:href => "http://www.chicagohealthatlas.org/"} Chicago Health Atlas
        %small
          %br
          Data cleanup, custom visualizations
          %br
          Client: 
          %a.client-link{:href => 'http://www.smartchicagocollaborative.org/projects/chicago-health-atlas/'} Smart Chicago Collaborative
      %p
        View citywide information about health trends and take action near you to improve your own health.

    .span4
      %a{:href => "http://microboundaries.com"}
        %img.img-polaroid{:src => "/images/projects/gfry-microboundaries.jpg", :title => "Micro Boundaries"}
      %h4
        %a{:href => "http://microboundaries.com"} Micro Boundaries
        %small
          %br
          Custom visualizations
          %br
          Client: 
          %a.client-link{:href => 'http://www.saic.edu/'} School of the Art Institute of Chicago
      %p
        A project by SAIC design students Moe Beitiks and Brooke Collins. Find a home for five beneficial bacteria by interpreting their needs, exploring your city and taking photos with Instagram.

    .span4
      %a{:href => "http://stateofworkingwa.org/budget/"}
        %img.img-polaroid{:src => "/images/projects/look-at-wa.jpg", :title => "The State of Washington Budget"}
      %h4
        %a{:href => "http://stateofworkingwa.org/budget/"} The State of Washington Budget
        %small
          %br
          Civic app deployment
          %br
          Client: 
          %a.client-link{:href => 'http://www.eoionline.org/'} Economic Opportunity Institute
      %p
        A re-deployment and customization of the 
        %a{:href => 'http://lookatcook.com'} Look at Cook 
        budget visualization platform for the State of Washington Budget.

  .row-fluid
    .span4
      %a{:href => "http://chicagocube.org/"}
        %img.img-polaroid{:src => "/images/projects/gfry-chicagocube.jpg", :title => "Chicago Cube"}
      %h4
        %a{:href => "http://microboundaries.com/"} Chicago Cube
        %small
          %br
          Custom visualizations
          %br
          Client: 
          %a.client-link{:href => 'http://www.saic.edu/'} School of the Art Institute of Chicago
      %p
        A project by SAIC design student Amarinh Kongmanivong. Plant a Gerbera daisy, share a photo of it on Instagram, watch it grow.

    .span4
      %a{:href => "http://weconnectchicago.org"}
        %img.img-polaroid{:src => "/images/projects/connect-chicago.jpg", :title => "Connect Chicago"}
      %h4
        %a{:href => "http://weconnectchicago.org"} Connect Chicago
        %small
          %br
          Data cleanup, custom maps
          %br
          Client: 
          %a.client-link{:href => 'http://www.smartchicagocollaborative.org/the-launch-of-connect-chicago/'} Smart Chicago Collaborative
      %p
        Searchable map and website to find free public computer centers and training.

    .span4
      %a{:href => "http://chicagoearlylearning.org/"}
        %img.img-polaroid{:src => "/images/projects/chicago-early-learning.jpg", :title => "Chicago Early Learning"}
      %h4
        %a{:href => "http://chicagoearlylearning.org/"} Chicago Early Learning
        %small
          %br
          Data cleanup
          %br
          Client: 
          %a.client-link{:href => 'http://www.smartchicagocollaborative.org/the-launch-of-chicago-early-learning/'} Smart Chicago Collaborative
      %p
        Tool for finding and comparing preschools, head start and other early childhood education programs.

%hr
%h2#what-we-do What we do

.row-fluid
  .span6
    %h4 
      %i.icon-map-marker
      Custom maps and visualizations
    %p
      Using a variety of 
      %a{:href => 'http://derekeder.com/searchable_map_template'} tools 
      and experience, we can help your organization distill a pile of data into a clear and concise map or visualization. 

  .span6
    %h4 
      %i.icon-wrench
      Civic app deployment
    %p
      = succeed ',' do
        %a{:href => 'http://lookatcook.com'} Visualize your budgets
      %a{:href => 'http://chicagobuildings.org'} map vacant buildings
      or
      %a{:href => 'http://clearstreets.org'} track snow plows
      for your municipality or organization. 
      More examples of deployable apps 
      = succeed '.' do
        %a{:href => 'http://opencityapps.org'} here
.row-fluid
  .span6
    %h4 
      %i.icon-signal
      Data cleanup and analysis
    %p
      Clean up, 
      %a{:href => 'https://github.com/open-city/dedupe'} de-duplicate 
      and release your data to make it easily accessible for developers, all while keeping sensitive information secure.
  .span6
    %h4 
      %i.icon-info-sign
      Training and education
    %p
      An unprecedented amount of data is being gathered and published by governments, companies and organizations. Understand, interpret and tell the stories behind all this open data.

%hr
%h2#our-open-source-tools Open source tools

.row-fluid
  .span6 
    %a{:href => "http://derekeder.com/searchable_map_template/"}
      %img.img-polaroid{:src => "/images/tools/searchable_map_template.jpg", :title => "Searchable Map Template with Google Fusion Tables"}
      %h4
        Searchable Map Template
    %p
      Put your data on a searchable, filterable map. This is a free, open source tool and template powered by Google 
      %a{:href => "http://google.com/fusiontables/Home/"} Fusion Tables
      that allows anyone to make a powerful map in minutes.
        

  .span6
    %a{:href => "https://github.com/open-city/dedupe"}
      %img.img-polaroid{:src => "/images/tools/dedupe.jpg", :title => "Dedupe"}
      %h4
        Dedupe
    %p
      An open source python library that quickly de-duplicates large sets of data on a laptop using machine learning.

%hr
.row-fluid
  .span6
    %h2#who-we-are Who we are

    .row-fluid
      .span6
        %img.img-polaroid{:src => "/images/derek-eder.jpg"}
        %h4 Derek Eder
        %p 
          Derek is a web developer with a passion for open government, open source and open data. He is a co-founder of
          = succeed '.' do
            %a{:href => 'http://opencityapps.org'} Open City

      .span6
        %img.img-polaroid{:src => "/images/forest-gregg.jpg"}
        %h4 Forest Gregg
        %p Forest is a Sociology Ph.D. student at the University of Chicago with a background in machine learning and statistics.

  .span6
    %h2#our-philosophy Philosophy
    %p 
      To work with DataMade, your project must subscribe to the 
      = succeed '.' do
        %strong Three Os
      They are:

    %ol
      %li
        %p 
          %strong Open data
          %br
          The project uses data that is entirely open and free to use by anyone.
      %li
        %p
          %strong Open source
          %br
          All apps and tools developed are open source and released under an unrestrictive license.
      %li
        %p
          %strong Open government
          %br
          The project is civic-minded. It engages and informs citizens about their society, city, or government.

%hr
%h2#clients Clients

%p.clients

  %a{:href => 'http://www.smartchicagocollaborative.org/'}
    %img{:src => '/images/clients/smart-chicago.jpg', :alt => 'Smart Chicago Collaborative'}

  %a{:href => 'http://www.ilcampaign.org/'}
    %img{:src => '/images/clients/icpr.jpg', :alt => 'Illinois Campaign for Political Reform'}

  %a{:href => 'http://wbez.org/'}
    %img{:src => '/images/clients/wbez.jpg', :alt => 'WBEZ 91.5'}

  %a{:href => 'http://www.eoionline.org/'}
    %img{:src => '/images/clients/eoi.jpg', :alt => 'Economic Opportunity Institute'}

  %a{:href => 'http://www.saic.edu/'}
    %img{:src => '/images/clients/saic.jpg', :alt => 'School of the Art Institute of Chicago'}

  %a{:href => 'http://communication.depaul.edu/'}
    %img{:src => '/images/clients/depaul-communication.jpg', :alt => 'DePaul College of Communication'}

%hr
%h2#contact-us Contact us
%p
  To engage DataMade or talk to us about our work 
  = succeed ',' do
    %a{:href => "mailto:derek.eder@gmail.com"} email us
  or come find us at 
  = succeed '.' do
    %a{:href => "http://1871.com"} 1871