!!! 5
%html{:lang => "en"}
  %head
    %title= "#{@title}" || 'Derek Eder - Open Data Web Developer'
    %meta{:charset => "utf-8"}

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}
            
    / Styles

    = include_stylesheet "bootstrap.cerulean.min"
    = include_stylesheet "bootstrap-responsive"
    = include_stylesheet "font-awesome/css/font-awesome.min"
    = include_stylesheet :custom
    = content :stylesheets
    
    / HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      = include_javascript "http://html5shim.googlecode.com/svn/trunk/html5.js"

  %body
    .navbar
      .navbar-inner
        .container
          %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand{:href => '/'} DataMade
          .container.nav-collapse
            %ul.nav                    
              %li
                %a{:href => '/#products'} Products
              %li{:class => (@current_menu == 'projects' ? 'active' : '')}
                %a{:href => '/projects'} Our work
              %li{:class => (@current_menu == 'about' ? 'active' : '')}
                %a{:href => '/about'} About us
            %p.pull-right
              %a.btn.btn-danger{:href => 'mailto:info@datamade.us'} Contact us

    .container
      .row
        .span10.offset1
          = yield
      
    %footer.footer
      .span12
        %hr
        %p.pull-right
          %a{:href => "mailto:info@datamade.us"} Email us
          |
          %a{:href => "https://github.com/datamade"} 
            %i.icon-github 
            Github
          |
          %a{:href => "https://twitter.com/DataMadeCo"} 
            %i.icon-twitter
            Twitter
          |
          &copy; DataMade
    
    = include_javascript :jquery
    = include_javascript :bootstrap
    = content :javascripts
    = include_javascript :"analytics_lib" if production?